.rt-table {
  font-family: sans-serif;
}

.rt-thead .rt-tr {
  min-width: 180px;
  background-color: #125D60;
  color: white;
  font-weight: 700;
}

.ReactTable .rt-thead .rt-th {
  padding-left: 10px;
  padding-right: 10px;
}

.rt-tr {
  background-color: #62A1A4;
  color: white;
}

.ReactTable .rt-td {
  padding-left: 10px;
  padding-right: 10px;
}

.ReactTable .-pagination .-btn {
  background-color: #FF9B98;
}

.ReactTable .rt-noData {
  height: 10px;
  font-weight: 700;
  background-color: rgb(59, 132, 135);
  color: white;
  padding: 5px;
}